.item-1 {
    background: linear-gradient(45deg, #fa84dc, #f48fa5);
    width: 50px;
    height: 50px;
  }

.item-2 {
    background: linear-gradient(45deg, #84cbfa, #8ff4a0);
    width: 50px;
    height: 50px;
  }

.item-3 {
    background: linear-gradient(45deg, #848cfa, #8ff4ef);
    width: 50px;
    height: 50px;
  }

.item-4 {
    background: linear-gradient(45deg, #fa8884, #f4ed8f);
    width: 50px;
    height: 50px;
  }

.item-5 {
    background: linear-gradient(45deg, #fa84ea, #c5f48f);
    width: 50px;
    height: 50px;
  }

.item-6 {
    background: linear-gradient(45deg, #88fa84, #f48f8f);
    width: 50px;
    height: 50px;
  }

.item-7 {
    background: linear-gradient(45deg, #fa84b5, #9e8ff4);
    width: 50px;
    height: 50px;
  }

.item-8 {
    background: linear-gradient(45deg, #f2fa84, #f48fec);
    width: 50px;
    height: 50px;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    align-items: stretch;
}